<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Incoming Parcels</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all users</a></h3></li>
</ul>

<div th:if="${parcels.isEmpty()}">
    <h2 th:text="#{incoming-parcels.title.empty}">No Incoming Parcels</h2>
</div>
<div th:unless="${parcels.isEmpty()}">
    <h2 th:text="#{incoming-parcels.title}">All Incoming Parcels</h2>
    <div class="table">
        <div class="row" th:each="parcel : ${parcels}">
            <div class="cell">
                <span th:text="'Parcel ID: ' + (${parcel.getId()})">Parcel ID</span>
                <br/>
                <span th:text="'Shipment ID: ' + (${parcel.getShipment().getId()})">Shipment ID</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>