<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Deliver IT - We bring the store to your door!</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="css/heading.css">
    <link rel="stylesheet" href="css/body.css">
</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1" th:unless="${isEmployee}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        href="#portfolio">Warehouses</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthenticated} and ${isCustomer}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/parcels/customer}">My Orders</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthenticated} and ${isEmployee}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/users}">All Users</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthenticated} and ${isEmployee}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/warehouses}">All Warehouses</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthenticated} and ${isEmployee}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/parcels}">All Parcels</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isEmployee}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        href="#portfolio2">Shipments</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthenticated}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/users/profile}">Profile</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:unless="${isAuthenticated}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/auth/login}"
                        href="#about">Login</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthenticated}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/auth/logout}"
                        href="#about">Logout</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:unless="${isAuthenticated}"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/auth/register}"
                        href="#contact">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center" th:if="${isEmployee}">
    <p class="pre-wrap masthead-subheading font-weight-light mb-0">Search for users by keyword</p>
    <form method="get" th:action="@{/users/search}" style="padding-top: 1rem;">
        <input th:name="keyWord" placeholder="Search">
        <input type="image" src="assets/img/search.png" width="35rem;" style="vertical-align: bottom;" value="Search"/>
    </form>
</header>
<header class="masthead bg-primary text-white text-center" th:unless="${isEmployee}">
    <p class="pre-wrap masthead-subheading font-weight-light mb-0">There are <span style="font-weight: bold"
                                                                                   th:text="${customers}">Customers Count</span> happy customers already using our services! You can become one of them, by <a style="color: white"
                                                                                      th:href="@{/auth/register}"><u>signing up</u></a> now!</p>
    <br/><br/>
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/delivery_logo.png"
                                          alt="Delivery IT Logo">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">Deliver IT</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-shipping-fast"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">We bring the store to your door! </p>
    </div>
</header>
<section class="page-section" id="portfolio2" th:if="${isEmployee}">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">SHIPMENTS</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-shipping-fast"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            <div th:each="shipment : ${shipments}" class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal"
                     th:attr="data-target='#portfolioModal' + ${shipment.id}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/shipment.png"
                         th:alt="${'Image of shipment #' + shipment.getId()}"/>
                    <br/>
                    <div style="text-align: center; padding-bottom: 1rem;">
                        <p th:text="('Shipment #' + ${shipment.getId()})"></p>
                        <p th:text="('Arrival Date: ' + ${shipment.getArrivalDate()})"></p>
                        <p th:text="('Destination Warehouse: ' + ${shipment.getDestinationWarehouse().getAddress().getStreetName()} + ', ' + ${shipment.getDestinationWarehouse().getAddress().getCity().getName()})"></p>
                        <p th:text="('Status: ' + ${shipment.getStatus().getStatusName()})"></p>

                        <a href="#" style="text-decoration: underline;"
                           th:href="@{/shipments/{id}(id=${shipment.getId()})}">Additional information</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item mx-0 mx-lg-1" style="text-align: center;"><a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                th:href="@{/shipments}" href="#about"
                style="font-size: 1.5rem; font-weight: bold; text-decoration: underline;">All Shipments</a>
        </div>
    </div>
</section>
<section class="page-section" id="portfolio" th:unless="${isEmployee}">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">WAREHOUSES</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-warehouse"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            <div th:each="warehouse : ${warehouses}" class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal"
                     th:attr="data-target='#portfolioModal' + ${warehouse.id}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/warehouse.jpg"
                         th:alt="${'Image of warehouse #' + warehouse.getId()}"/>
                    <br/>
                    <div style="text-align: center; padding-bottom: 1rem;">
                        <p th:text="('Warehouse #' + ${warehouse.getId()})"></p>
                        <p th:text="(${warehouse.getAddress().getStreetName()} + ', ' + ${warehouse.getAddress().getCity().getName()})"></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;" class="nav-item mx-0 mx-lg-1"><a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                th:href="@{/warehouses}" href="#about"
                style="font-size: 1.5rem; font-weight: bold; text-decoration: underline;">All Warehouses</a>
        </div>
    </div>
</section>
<section th:unless="${isEmployee}" class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-info-circle"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div style="text-align: center; margin-left: auto; margin-right: auto;" class="col-lg-4 ml-auto">
                <p class="pre-wrap lead">Deliver IT is Freight Forwarding Management System making it easier than ever for our customers to keep track of their orders.</p>
            </div>
        </div>
    </div>
</section>
<section th:unless="${isEmployee}" class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-address-book"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Content-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                    <div class="text-muted">Phone</div>
                    <div class="lead font-weight-bold">+359...</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                    <div class="text-muted">Email</div>
                    <a class="lead font-weight-bold" href="mailto:deliver.it@deliverit.com">deliver.it@deliverit.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:unless="${isEmployee}" class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">LOCATION</h4>
                <p class="pre-wrap lead mb-0">30, ul. "Krastyu Rakovski" str, 1729 Sofia</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4>
                <a class="btn btn-outline-light btn-social mx-1"
                   href="https://gitlab.com/team-007-task-management-project/deliverit" target="_blank">
                    <i class="fab fa-gitlab"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">ABOUT DELIVER IT</h4>
                <p class="pre-wrap lead mb-0">We are simply the best.</p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>