<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parcel Form Fragment</title>
</head>
<body>
<form th:fragment="parcel-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${parcel}" method="post">

    <label th:text="#{parcel.label.userId}">User Id</label>
    <br/>
    <input type="text" th:field="*{userId}"/>
    <label class="error" th:errors="*{userId}">User Id error placeholder</label>
    <label class="error" th:text="${error}">Only customers can be assigned to parcels.</label>
    <br/><br/>

    <label th:text="#{parcel.label.warehouseId}">Warehouse Id</label>
    <br/>
    <select class="form-select" aria-label="Default select example" th:field="*{warehouseId}">
        <option selected value="0">Any destination warehouse</option>
        <option
                th:each="warehouse : ${warehouses}"
                th:value="${warehouse.getId()}"
                th:text="${warehouse.getAddress.getStreetName()}">
        </option>
    </select>
    <br/><br/>

    <label th:text="#{parcel.label.weight}">Weight</label>
    <br/>
    <input type="text" th:field="*{weight}"/>
    <label class="error" th:errors="*{weight}">Weight error placeholder</label>
    <br/><br/>

    <label th:text="#{parcel.label.category}">Category</label>
    <br/>
    <select th:field="*{categoryId}">
        <option th:each="category : ${categories}"
                th:value="${category.getId()}"
                th:text="${category.getCategoryName()}">
        </option>
    </select>
    <br/><br/>

    <label th:text="#{parcel.label.shipmentId}">Shipment Id</label>
    <br/>
    <input type="text" th:field="*{shipmentId}"/>
    <label class="error" th:errors="*{shipmentId}">Shipment Id error placeholder</label>
    <br/><br/>

    <label th:text="#{parcel.label.deliveryType}">Delivery Type</label>
    <br/>
    <select th:field="*{deliveryTypeId}">
        <option th:each="deliveryType : ${deliveryTypes}"
                th:value="${deliveryType.getId()}"
                th:text="${deliveryType.getDeliveryTypeName()}">
        </option>
    </select>
    <label class="error" th:text="${error}">The default delivery type should always be 'Pick up from warehouse'.</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>