<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>All Parcels</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="/css/heading.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body id="page-top" style="height: 100%;">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/users/profile}">Profile</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/auth/logout}"
                        href="#about">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center" style="height: 100%;">
    <div>
        <img src="../assets/img/parcel.png" alt="Parcel">
        <h2>My Orders</h2>

        <form method="get" th:action="@{/parcels/filter}" th:object="${filterDto}">
            <select class="form-select" aria-label="Default select example" th:field="*{statusId}">
                <option selected value="0">Any status</option>
                <option
                        th:each="status : ${statuses}"
                        th:value="${status.getId()}"
                        th:text="${status.getStatusName()}">
                </option>
            </select>

            <input type="image" src="../assets/img/filter.png" width="25rem;" style="vertical-align: bottom;" value="Filter"/>
        </form>
        <br/>

        <div>
            <table style="margin-left: auto; margin-right: auto; padding-top: 1rem;">

                <div th:each="parcel : ${parcels}">
                    <div>
                        <tr>
                            <td style="border: solid white 1px; padding: 0.5rem; text-decoration: underline;"><a
                                    href="#"
                                    style="color:white; font-weight: bold;"
                                    th:href="@{/parcels/{id}(id=${parcel.getId()})}"
                                    th:text="(${'ID: ' + parcel.getId()})">Parcel</a>
                            </td>
                            <td style="border: solid white 1px; padding: 0.5rem;"><span
                                    th:text="(${'Category: ' + parcel.getCategory().getCategoryName()})">Category</span>
                            </td>
                            <td style="border: solid white 1px; padding: 0.5rem;"><span
                                    th:text="(${'Status: ' + parcel.getShipment().getStatus().getStatusName()})">Status</span>
                            </td>
                            <td style="padding: 0.5rem;"><a href="#" th:if="${parcel.getShipment().getStatus().getId() != 3}"
                                                            style="padding: 1rem; color:white; text-decoration: underline; font-weight: bold;"
                                                            th:href="@{/parcels/{id}/update(id=${parcel.getId()})}">Change Delivery Type</a>
                            </td>
                        </tr>
                    </div>
                </div>

            </table>
        </div>
    </div>

</header>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
</body>
</html>