<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Change Delivery Type</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="/css/heading.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body id="page-top" style="height: 100%;">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/parcels/customer}">My Orders</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/users/profile}">Profile</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/auth/logout}"
                        href="#about">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header style="padding-top: 16rem; height: 100%;" class="masthead bg-primary text-white text-center">
    <div style="text-align: center;">
        <img src="/assets/img/parcel.png" alt="Parcel">
        <form th:action="@{__${#httpServletRequest.requestURI}__/customer}"
              th:object="${deliveryType}" method="post">

            <label th:text="#{parcel.label.deliveryType}">Delivery Type</label>
            <br/>
            <select th:field="*{id}">
                <option th:each="deliveryType : ${deliveryTypes}"
                        th:value="${deliveryType.getId()}"
                        th:text="${deliveryType.getDeliveryTypeName()}">
                </option>
            </select>
            <br/><br/>

            <input type="submit" value="Save"/>
        </form>
    </div>
</header>

<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
</body>
</html>