<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="/css/heading.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body id="page-top" style="height: 100%;">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/auth/logout}"
                        href="#about">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center" style="display: flex; height: 100%;">
    <div style="width: 50%;text-align: left; padding-left: 3rem;">
        <img src="../assets/img/user_logo.png" alt="User Logo">
        <h3>First Name: <span style="font-weight: lighter" th:text="${user.getFirstName()}"></span></h3>
        <h3>Last Name: <span style="font-weight: lighter" th:text="${user.getLastName()}"></span></h3>
        <h3>Email Name: <span style="font-weight: lighter" th:text="${user.getEmail()}"></span></h3>
        <h3 th:if="${userAddress != null}">Address: <span style="font-weight: lighter"
                                                          th:text="(${userAddress.getAddress().getStreetName()} + ', ' + ${userAddress.getAddress().getCity().getName()})"></span>
        </h3>
        <div><a style="color:white; font-size: 2rem;" href="#"
                th:href="@{/users/{id}/update(id=${user.getId()})}"><u><b>Edit Profile</b></u></a></div>
    </div>

    <div style="width: 50%" th:if="${isCustomer}">
        <div style="text-align: left;"><img src="../assets/img/parcel.png" alt="Parcel"></div>
        <h2 style="color: white; text-align: left">My last 3 orders</h2>
        <table style="width: 75%">
                    <tr>
                        <th style="border: solid white 1px; padding: 0.5rem;">ID</th>
                        <th style="border: solid white 1px; padding: 0.5rem;">Category</th>
                        <th style="border: solid white 1px; padding: 0.5rem;">Status</th>
                        <th style="border: solid white 1px; padding: 0.5rem;">Arrival Date</th>
                        <th style="padding: 0.5rem;"></th>
                    </tr>
                    <tr th:each="parcel : ${limitedParcels}">
                        <td style="border: solid white 1px; padding: 0.5rem; text-decoration: underline;">
                            <a href="#" style="color:white; font-weight: bold;"
                               th:href="@{/parcels/{id}(id=${parcel.getId()})}" th:text="${parcel.getId()}">Parcel</a>
                        </td>
                        <td style="border: solid white 1px"><span
                                th:text="${parcel.getCategory().getCategoryName()}">Category</span>
                        </td>
                        <td style="border: solid white 1px"><span
                                th:text="${parcel.getShipment().getStatus().getStatusName()}">Status</span>
                        </td>
                        <td style="border: solid white 1px"
                            th:text="${parcel.getShipment().getArrivalDate()}">Arrival date
                        </td>
                        <td><a href="#" th:if="${parcel.getShipment().getStatus().getId() != 3}"
                               style="padding: 1rem; color:white; text-decoration: underline; font-weight: bold;"
                               th:href="@{/parcels/{id}/update(id=${parcel.getId()})}">Change Delivery Type</a></td>

                    </tr>
        </table>
        <br/>
        <a style="color:white; float: left; font-weight: bold; font-size: 1.25rem;" th:href="@{/parcels/customer}"><u>Show
            all</u></a>
    </div>

</header>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
</body>
</html>