<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Update Shipment</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="/css/heading.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body id="page-top" style="height: 100%;">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a th:href="@{/shipments}"
                                                     class="nav-link py-3 px-0 px-lg-3 rounded">All shipments</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/auth/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center" style="height: 100%; box-sizing: unset;">
    <div><img src="../../assets/img/shipment_transparent.png" style="width: 25%;" alt="Shipment"></div>

    <form th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${shipment}" method="post">

        <label th:text="#{shipment.label.departureDate}">Departure date</label>
        <br/>
        <input type="date" th:field="*{departureDate}"/>
        <label class="error" th:errors="*{departureDate}">Departure date error placeholder</label>
        <br/><br/>

        <label th:text="#{shipment.label.arrivalDate}">Arrival date</label>
        <br/>
        <input type="date" th:field="*{arrivalDate}"/>
        <label class="error" th:errors="*{arrivalDate}">Arrival date error placeholder</label>
        <br/><br/>

        <label th:text="#{shipment.label.originWarehouse}">Origin warehouse</label>
        <br/>
        <select class="form-select" aria-label="Default select example" th:field="*{originWarehouseId}">
            <option selected value="0">Select origin Warehouse</option>
            <option
                    th:each="warehouse : ${warehouses}"
                    th:value="${warehouse.getId()}"
                    th:text="${warehouse.getAddress.getStreetName()}">
            </option>
        </select>
        <label class="error" th:errors="*{originWarehouseId}">Origin warehouse error placeholder</label>
        <label class="error" th:text="${error}">Origin warehouse should not be the same as destination warehouse</label>
        <br/><br/>

        <label th:text="#{shipment.label.destinationWarehouse}">Destination warehouse</label>
        <br/>
        <select class="form-select" aria-label="Default select example" th:field="*{destinationWarehouseId}">
            <option selected value="0">Select destination warehouse</option>
            <option
                    th:each="warehouse : ${warehouses}"
                    th:value="${warehouse.getId()}"
                    th:text="${warehouse.getAddress.getStreetName()}">
            </option>
        </select>
        <label class="error" th:errors="*{destinationWarehouseId}">Destination warehouse error placeholder</label>
        <label class="error" th:text="${error}">Destination warehouse should not be the same as origin warehouse</label>
        <br/><br/>

        <label th:text="#{shipment.label.status}">Status</label>
        <br/>
        <select class="form-select" aria-label="Default select example" th:field="*{statusId}">
            <option selected value="0">Choose status</option>
            <option
                    th:each="status : ${statuses}"
                    th:value="${status.getId()}"
                    th:text="${status.getStatusName()}">
            </option>
        </select>
        <label class="error" th:errors="*{statusId}">Status error placeholder</label>
        <br/><br/>

        <input type="submit" value="Save"/>
    </form>
</header>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>

</body>
</html>
