<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shipments</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="/css/heading.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a th:href="@{/shipments/new}"
                                                     class="nav-link py-3 px-0 px-lg-3 rounded">Create a new shipment</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/auth/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center">
<div>
    <h2 th:text="#{shipment.title}">All Shipments</h2>

    <form method="get" th:action="@{/shipments/search}" th:object="${filterDto}">
        <input th:field="*{id}" placeholder="Search by shipment id">
        <input type="image" src="../assets/img/search.png" width="35rem;" style="vertical-align: bottom;" value="Search"/>
        <label class="error" th:text="${error}">No shipment</label>
    </form>
    <br/>
    <form method="get" th:action="@{/shipments/show}" th:object="${filterDto}">
        <select class="form-select" aria-label="Default select example" th:field="*{warehouseId}">
            <option selected value="0">Show next shipment at warehouse</option>
            <option
                    th:each="warehouse : ${warehouses}"
                    th:value="${warehouse.getId()}"
                    th:text="${warehouse.getAddress.getStreetName() + ', ' + warehouse.getAddress().getCity().getName()}">
            </option>
        </select>
        <input type="submit" value="Show"/>
        <label class="error" th:text="${filterError}">No shipment</label>
    </form>
    <br/>
    <form method="get" th:action="@{/shipments/filter}" th:object="${filterDto}">
        <select class="form-select" aria-label="Default select example" th:field="*{statusId}">
            <option selected value="0">Any status</option>
            <option
                    th:each="status : ${statuses}"
                    th:value="${status.getId()}"
                    th:text="${status.getStatusName()}">
            </option>
        </select>

        <select class="form-select" aria-label="Default select example" th:field="*{warehouseId}">
            <option selected value="0">Any origin warehouse</option>
            <option
                    th:each="warehouse : ${warehouses}"
                    th:value="${warehouse.getId()}"
                    th:text="${warehouse.getAddress.getStreetName()  + ', ' + warehouse.getAddress().getCity().getName()}">
            </option>
        </select>

        <input type="image" src="../assets/img/filter.png" width="25rem;" style="vertical-align: bottom;" value="Filter"/>
    </form>
    <div><img src="../assets/img/shipment_transparent.png" style="width: 25%;" alt="Shipment"></div>

    <div>
        <table style="margin-left: auto; margin-right: auto; padding-top: 1rem;">
            <tr>
                <th style="border: solid white 1px; padding: 0.5rem;">Shipment №</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Departure Date</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Arrival Date</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Origin Warehouse</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Destination Warehouse</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Status</th>
                <th style="padding: 0.5rem;"></th>
            </tr>

            <tr th:each="shipment : ${shipments}">
                <td style="border: solid white 1px; padding: 0.5rem; text-decoration: underline;">
                    <a href="#" style="color:white; font-weight: bold;"
                       th:href="@{/shipments/{id}(id=${shipment.getId()})}" th:text="${shipment.getId()}">Shipment</a>
                </td>
                <td style="border: solid white 1px; padding: 0.5rem;"><span
                        th:text="${shipment.getDepartureDate()}">Departure Date</span>
                </td>
                <td style="border: solid white 1px; padding: 0.5rem;"><span
                        th:text="${shipment.getArrivalDate()}">Arrival Date</span>
                </td>
                <td style="border: solid white 1px; padding: 0.5rem;"><span
                        th:text="(${shipment.getOriginWarehouse().getAddress().getStreetName()} + ', ' + ${shipment.getOriginWarehouse().getAddress().getCity().getName()})">Origin Warehouse</span>
                </td>
                <td style="border: solid white 1px; padding: 0.5rem;"><span
                        th:text="(${shipment.getDestinationWarehouse().getAddress().getStreetName()} + ', ' + ${shipment.getDestinationWarehouse().getAddress().getCity().getName()})">Destination Warehouse</span>
                </td>
                <td style="border: solid white 1px; padding: 0.5rem;"><span
                        th:text="${shipment.getStatus().getStatusName()}">Status</span>
                </td>
                <td><a href="#" th:if="${shipment.getStatus().getId() != 3}"
                       style="padding: 1rem; color:white; text-decoration: underline; font-weight: bold;"
                       th:href="@{/shipments/{id}/update(id=${shipment.getId()})}">Update Shipment</a></td>

            </tr>
        </table>
    </div>
</div>
</header>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>

</body>
</html>