<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shipment</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="/css/heading.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body id="page-top" style="height: 100%;">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/users}">All Users</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/warehouses}">All Warehouses</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/parcels}">All Parcels</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/shipments}">All shipments</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/auth/logout}"
                        href="#about">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header style="padding-top: 8rem; height: 100%;" class="masthead bg-primary text-white text-center">
    <div style="text-align: center;">

        <img style="width: 25%;" src="../assets/img/shipment_transparent.png" alt="Shipment">
        <table style="width: 50%; text-align: center; margin-left: auto; margin-right: auto;">

            <tr>
                <td style="border: solid white 1.5px" th:text="${'Shipment ID: ' + shipment.getId()}">
                    Shipment ID
                </td>
            </tr>

            <tr>
                <td style="border: solid white 1.5px"
                    th:text="${'Departure date: ' + shipment.getDepartureDate()}">
                    Departure date
                </td>
            </tr>

            <tr>
                <td style="border: solid white 1.5px"
                    th:text="${'Arrival date: ' + shipment.getArrivalDate()}">
                    Arrival date
                </td>
            </tr>

            <tr>
                <td style="border: solid white 1.5px"
                    th:text="${'Origin warehouse: ' + shipment.getOriginWarehouse().getAddress().getStreetName()
                                            + ',' + shipment.getOriginWarehouse().getAddress().getCity.getName() }">
                    Origin warehouse
                </td>
            </tr>

            <tr>
                <td style="border: solid white 1.5px"
                    th:text="${'Destination warehouse: ' + shipment.getDestinationWarehouse().getAddress().getStreetName()
                                            + ',' + shipment.getDestinationWarehouse().getAddress().getCity.getName() }">
                    Destination warehouse
                </td>
            </tr>

            <tr>
                <td style="border: solid white 1.5px"
                    th:text="${'Status: ' + shipment.getStatus().getStatusName()}">
                    Status
                </td>
            </tr>

        </table>
        <br/>
        <a href="#" th:unless="${isCompleted}"
           style="color:white; text-decoration: underline; font-weight: bold;"
           th:href="@{/shipments/{id}/update(id=${shipment.getId()})}">Update shipment</a>
    </div>
</header>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>