<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shipment Form Fragment</title>
</head>
<body>
<form th:fragment="shipment-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${shipment}" method="post">

    <label th:text="#{shipment.label.departureDate}">Departure date</label>
    <br/>
    <input type="date" th:field="*{departureDate}"/>
    <label class="error" th:errors="*{departureDate}">Departure date error placeholder</label>
    <label class="error" th:text="${error}">Please select a departure date.</label>
    <br/><br/>

    <label th:text="#{shipment.label.arrivalDate}">Arrival date</label>
    <br/>
    <input type="date" th:field="*{arrivalDate}"/>
    <label class="error" th:errors="*{arrivalDate}">Arrival date error placeholder</label>
    <label class="error" th:text="${error}">Please select a arrival date.</label>

    <br/><br/>

    <label th:text="#{shipment.label.originWarehouse}">Origin warehouse</label>
    <br/>
    <select class="form-select" aria-label="Default select example" th:field="*{originWarehouseId}">
        <option selected value="0">Select origin Warehouse</option>
        <option
                th:each="warehouse : ${warehouses}"
                th:value="${warehouse.getId()}"
                th:text="${warehouse.getAddress.getStreetName()}">
        </option>
    </select>
    <label class="error" th:errors="*{originWarehouseId}">Origin warehouse error placeholder</label>
    <br/><br/>

    <label th:text="#{shipment.label.destinationWarehouse}">Destination warehouse</label>
    <br/>
    <select class="form-select" aria-label="Default select example" th:field="*{destinationWarehouseId}">
        <option selected value="0">Select destination warehouse</option>
        <option
                th:each="warehouse : ${warehouses}"
                th:value="${warehouse.getId()}"
                th:text="${warehouse.getAddress.getStreetName()}">
        </option>
    </select>
    <label class="error" th:errors="*{destinationWarehouseId}">Please select Destination warehouse</label>
    <br/><br/>

    <label th:text="#{shipment.label.status}">Status</label>
    <br/>
    <select class="form-select" aria-label="Default select example" th:field="*{statusId}">
        <option selected value="1">Preparing</option>
    </select>
    <label class="error" th:errors="*{statusId}">Status error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>