<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Users</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="/css/heading.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a th:href="@{/users/new}"
                                                     class="nav-link py-3 px-0 px-lg-3 rounded">Create
                    employee</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a th:href="@{/auth/register}"
                                                     class="nav-link py-3 px-0 px-lg-3 rounded">Create
                    customer</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/auth/logout}"
                        href="#about">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center">
    <img src="../assets/img/user_logo.png" alt="User Logo">
    <div th:if="${users.isEmpty()}">
        <h2 th:text="#{users.title.empty}">No Users</h2>
    </div>
    <div th:unless="${users.isEmpty()}" style="text-align: center; height: 100%;">
        <h2 th:text="#{users.title}">All Users</h2>

        <table style="margin-left: auto; margin-right: auto; padding-top: 1rem;">
            <tr>
                <th style="border: solid white 1px; padding: 0.5rem;">ID</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Full Name</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Email</th>
                <th style="border: solid white 1px; padding: 0.5rem;"></th>
            </tr>
            <tr th:each="user : ${users}">
                <td style="border: solid white 1px; padding: 0.5rem; text-decoration: underline;">
                    <a href="#" style="color:white; font-weight: bold;"
                       th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">User ID</a>
                </td>
                <td style="border: solid white 1px"><span style="padding: 1rem;"
                                                          th:text="(${user.getFirstName() + ' ' + user.getLastName()})">First and Last Name</span>
                </td>
                <td style="border: solid white 1px"><span style="padding: 1rem;"
                                                          th:text="(${'Email : ' + user.getEmail()})">Email</span>
                </td>
                <td style="border: solid white 1px"><a href="#"
                                                       style="padding: 1rem; color:white; text-decoration: underline; font-weight: bold;"
                                                       th:href="@{/users/{id}/update(id=${user.getId()})}">Update</a>
                </td>

            </tr>

        </table>
    </div>
</header>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>

</body>
</html>