<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="../css/heading.css">
    <link rel="stylesheet" href="../css/body.css">
</head>
<body style="height: 100%;">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/users}">All Users</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/auth/logout}"
                        href="#about">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead bg-primary text-white text-center">
    <img src="../assets/img/login.png" alt="Login">
    <form action="#" th:action="@{/users/new}" th:object="${user}" method="post"
          style="box-sizing: inherit;">
        <label th:text="#{user.label.email}">Username</label>
        <br/>
        <input type="email" th:field="*{email}"/>
        <label class="error" th:errors="*{email}">Username error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.password}">Password</label>
        <br/>
        <input type="password" th:field="*{password}"/>
        <label class="error" th:errors="*{password}">Password error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.password-confirm}">Confirm Password</label>
        <br/>
        <input type="password" th:field="*{passwordConfirm}"/>
        <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.first-name}">First Name</label>
        <br/>
        <input type="text" th:field="*{firstName}"/>
        <label class="error" th:errors="*{firstName}">First name error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.last-name}">Last Name</label>
        <br/>
        <input type="text" th:field="*{lastName}"/>
        <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
        <br/><br/>

        <label th:text="#{warehouse.label.streetName}">Street Name</label>
        <br/>
        <input type="text" th:field="*{streetName}"/>
        <label class="error" th:errors="*{streetName}">Street name error placeholder</label>
        <br/><br/>

        <label th:text="#{warehouse.label.city}">City</label>
        <br/>
        <select th:field="*{cityId}">
            <option selected value="0">Select city</option>
            <option th:each="city : ${cities}"
                    th:value="${city.getId()}"
                    th:text="${city.getName()}">
            </option>
        </select>
        <label class="error" th:errors="*{cityId}">City error placeholder</label>

        <br/><br/>
        <input type="submit" value="Create"/>
    </form>
</header>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>

</body>
</html>