<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form Fragment</title>
</head>
<body>
<form th:fragment="user-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${user}" method="post">
    <label th:text="#{user.label.firstName}">First Name</label>
    <br/>
    <input type="text" th:field="*{firstName}"/>
    <label class="error" th:errors="*{firstName}">First name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.lastName}">Last Name</label>
    <br/>
    <input type="text" th:field="*{lastName}"/>
    <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.password}">Last Name</label>
    <br/>
    <input type="text" th:field="*{password}"/>
    <label class="error" th:errors="*{password}">password error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.email}">Email</label>
    <br/>
    <input type="text" th:field="*{email}"/>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <br/><br/>

    <label th:if="streetName != ''" th:text="#{user.label.streetName}">Street Name</label>
    <br/>
    <input type="text" th:if="streetName != ''" th:field="*{streetName}"/>
    <label class="error" th:if="streetName != ''" th:errors="*{streetName}">Street name error placeholder</label>
    <br/><br/>

    <label th:if="cityId != 0">City</label>
    <br/>
    <select th:if="cityId != 0" th:field="*{cityId}">
        <option selected value="0">Select city</option>
        <option th:each="city : ${cities}"
                th:value="${city.getId()}"
                th:text="${city.getName()}">
        </option>
    </select>
    <label th:if="cityId != 0" class="error" th:errors="*{cityId}">City error placeholder</label>

    <!--    <label th:text="#{user.label.password}">Password</label>
        <br/>
        <input type="text" th:field="*{password}"/>
        <label class="error" th:errors="*{password}">Password name error placeholder</label>-->
    <br/><br/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>