<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="/css/heading.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body id="page-top" style="height: 100%;">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/users}">All Users</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        th:href="@{/auth/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header style="padding-top: 8rem; box-sizing: unset;" class="masthead bg-primary text-white text-center">
    <div style="text-align: center;">
        <img src="../assets/img/user_logo.png" alt="User Logo">
        <table style="width: 50%; text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 1rem;">
            <tr>
                <td style="border: solid white 1.5px" th:text="${'User ID: ' + user.getId()}">User ID</td>
            </tr>
            <tr>
                <td style="border: solid white 1.5px"
                    th:text="${'First Name: ' + user.getFirstName()}">First Name
                </td>
            </tr>
            <tr>
                <td style="border: solid white 1.5px" th:text="${'Last Name: ' + user.getLastName()}">Last Name</td>
            </tr>

            <tr>
                <td style="border: solid white 1.5px"
                    th:text="${'Email: ' + user.getEmail()}">Email
                </td>
            </tr>
            <tr>
                <td style="border: solid white 1.5px" th:if="${userAddress != null}"
                    th:text="('Address: ' + ${userAddress.getAddress().getStreetName()} + ', ' + ${userAddress.getAddress().getCity().getName()})">
                    Address
                </td>
            </tr>
            <tr>
                <td style="border: solid white 1.5px"
                    th:text="${'Role: ' + user.getRole().getName()}">Role
                </td>
            </tr>
        </table>
        <a href="#"
           style="color:white; text-decoration: underline; font-weight: bold;"
           th:href="@{__${#httpServletRequest.requestURI}__/update}">Update User</a>
    </div>
    <div style="text-align: center;">
        <div><img src="../assets/img/parcel.png" alt="Parcel"></div>
        <h2 style="color: white;" th:text="${user.getFirstName() + '''s orders'}"></h2>
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <th style="border: solid white 1px; padding: 0.5rem;">ID</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Category</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Status</th>
                <th style="border: solid white 1px; padding: 0.5rem;">Arrival Date</th>
                <th style="padding: 0.5rem;"></th>
            </tr>
            <tr th:each="parcel : ${parcels}">
                <td style="border: solid white 1px; padding: 0.5rem; text-decoration: underline;">
                    <a href="#" style="color:white; padding: 0.5rem; font-weight: bold;"
                       th:href="@{/parcels/{id}(id=${parcel.getId()})}" th:text="${parcel.getId()}">Parcel</a>
                </td>
                <td style="border: solid white 1px; padding: 0.5rem;"><span
                        th:text="${parcel.getCategory().getCategoryName()}">Category</span>
                </td>
                <td style="border: solid white 1px; padding: 0.5rem;"><span
                        th:text="${parcel.getShipment().getStatus().getStatusName()}">Status</span>
                </td>
                <td style="border: solid white 1px; padding: 0.5rem;"
                    th:text="${parcel.getShipment().getArrivalDate()}">Arrival date
                </td>
                <td><a href="#" th:if="${parcel.getShipment().getStatus().getId() != 3}"
                       style="padding: 1rem; color:white; text-decoration: underline; font-weight: bold;"
                       th:href="@{/parcels/{id}/update(id=${parcel.getId()})}">Update</a></td>
            </tr>
        </table>
    </div>
</header>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
</body>
</html>