<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${warehouse.getAddress().getStreetName()}">Warehouse address</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/warehouses}" th:text="#{navigation.all-warehouses}">Browse all warehouses</a></h3>
    </li>
</ul>

<h2 th:text="${warehouse.getAddress().getStreetName()}">Warehouse address</h2>
<h2 th:text="${warehouse.getAddress().getCity().getName()}">Warehouse address</h2>
<h2 th:text="${warehouse.getAddress().getCity().getCountry().getName()}">Warehouse address</h2>

<h3>
    <!--    <a href="#" th:href="@{/beers/{id}/update(id=${beer.getId()})}">Update</a>-->
    <!--    <a href="#" th:href="@{/beers/{id}/delete(id=${beer.getId()})}">Delete</a>-->
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>
</html>