<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Warehouse Form Fragment</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="../css/heading.css">
    <link rel="stylesheet" href="../css/body.css">
</head>
<body style="height: 100%;">
<form th:fragment="warehouse-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${warehouse}" method="post">
    <label th:text="#{warehouse.label.streetName}">Street Name</label>
    <br/>
    <input type="text" th:field="*{streetName}"/>
    <label class="error" th:errors="*{streetName}">Street name error placeholder</label>
    <br/><br/>

    <label th:text="#{warehouse.label.city}">City</label>
    <br/>
    <select th:field="*{cityId}">
        <option th:each="city : ${cities}"
                th:value="${city.getId()}"
                th:text="${city.getName()}">
        </option>
    </select>
    <label class="error" th:errors="*{cityId}">City error placeholder</label>
    <br/><br/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>