<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>All Warehouses</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="../css/heading.css">
    <link rel="stylesheet" href="../css/body.css">
</head>
<body style="height: 100%;">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:text="#{navigation.home}" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1" th:if="${isEmployee}"><a th:href="@{/warehouses/new}"
                                                                       class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Create
                warehouse</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1" th:if="${isCustomer}"><a
                    class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                    th:href="@{/parcels/customer}">My Orders</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1" th:if="${isCustomer}"><a
                    class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                    th:href="@{/users/profile}">Profile</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1"><a
                    class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/auth/logout}"
                    href="#about">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<section class="page-section" th:if="${warehouses.isEmpty()}" style="padding-top: 9rem;">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">ALL WAREHOUSES</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-warehouse"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</section>

<section th:unless="${warehouses.isEmpty()}" class="page-section" style="padding-top: 9rem;">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">ALL WAREHOUSES</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-warehouse"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            <div th:each="warehouse : ${warehouses}" class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal"
                     th:attr="data-target='#portfolioModal' + ${warehouse.id}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/warehouse.jpg"
                         th:alt="${'Image of warehouse #' + warehouse.getId()}"/>
                    <br/>
                    <div style="text-align: center; padding-bottom: 1rem;">
                        <p th:text="('Warehouse #' + ${warehouse.getId()})"></p>
                        <p th:text="(${warehouse.getAddress().getStreetName()} + ', ' + ${warehouse.getAddress().getCity().getName()})"></p>
                    </div>
                    <div th:if="${isEmployee}" style="text-align: center;"><a href="#"
                                                                              th:href="@{/warehouses/{id}/update(id=${warehouse.getId()})}"><u><b>Edit
                        Warehouse</b></u></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Deliver IT 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
</body>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</html>